@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #FAF8F5;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
html, body, * {
  cursor: url("https://cdn.custom-cursor.com/db/22423/32/pusheen-sleeping-pointer.png") 16 16, pointer !important;
}
header {
  cursor: url("https://cdn.custom-cursor.com/db/22423/32/pusheen-sleeping-pointer.png") 16 16, pointer;
}
body {
  cursor: url("https://cdn.custom-cursor.com/db/22423/32/pusheen-sleeping-pointer.png") 16 16, pointer;
  color: var(--foreground); 
  background: var(--background);
  font-family: sans-serif;
} 

/* @layer base {
  html {
    font-family: sans-serif;
  }
} */

